<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create New Application</title>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"> </div>
    <div class="jumbotron">
        <h3>Create New Application</h3>
        <form action="#" th:action="@{/saveApplication}" th:object="${application}"
              method="post">

            <table class="table table-striped" border="0" cellpadding="10">
                <tr>
                    <td>Application Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}" /></td>
                </tr>
                <tr>
                    <td>Owner:</td>
                    <td><input type="text" th:field="*{owner}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>

</div>
</body>
</html>